<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AkıllıHaberSoap" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
            <customBinding>
                <binding name="AkıllıHaberSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://ulak.online/Ak%C4%B1ll%C4%B1haber.asmx"
                binding="basicHttpBinding" bindingConfiguration="AkıllıHaberSoap"
                contract="HaberService1.AkıllıHaberSoap" name="AkıllıHaberSoap" />
            
        </client>
    </system.serviceModel>
</configuration>